:root {
  --main-container-width: 100vw;
  --main-container-height: 100vh;
  --canvas-width: calc(var(--main-container-width) / 49 * 30);
  --canvas-height: calc(var(--main-container-width) / 2 - 120px);
  --container-top: calc((var(--main-container-height) - var(--canvas-height)) / 2);
  --left-container-left: 50px;
  --right-container-left: 1270px;
}

.dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.knewave {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(images/mine.jpeg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  animation-name: fadein;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fadein {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}

#mainContainer {
  position: relative;
  height: var(--main-container-height);
  width: var(--main-container-width);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: var(--canvas-width);
  height: var(--canvas-height);
  position: relative;
}

/* title box */
#titleContainer {
  position: absolute;
  top: 0;
  left: 0;
}

#titleText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(var(--canvas-width) - 10px);
  height: calc(var(--canvas-height) - 10px);
  background-image: radial-gradient(circle, rgba(0,50,25, 0.9), rgba(0, 0, 0, 0.9));
  border: 5px double rgb(60,60,0);
}

#titleSSRB {
  line-height: calc(var(--canvas-height) / 24 * 5);
  font-size: calc(var(--canvas-height) / 4);
  height: calc(var(--canvas-height) / 24 * 5);
}

#titleDaibakuha {
  line-height: calc(var(--canvas-height) / 24 * 5);
  font-size: calc(var(--canvas-height) / 24 * 7);
  height: calc(var(--canvas-height) / 4);
}

#titleUnderText {
  font-size: calc(var(--canvas-height) / 24);
}


/* result container */
#resultContainer {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 3px;
  animation-name: resultBoxSlide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: running;

}

#resultBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(var(--canvas-width) - 100px);
  height: var(--canvas-height);
  border-radius: 10px;
  background-color: rgba(250,255,255,0.9);
  padding: 0 50px;
  font-size: calc(var(--canvas-height) / 490 * 16);
}

@keyframes resultBoxSlide {
  0% {top: -100vh}
  100% {top: 0;}
}

#resultBox h1 {
  font-size: calc(var(--canvas-height) / 490 * 32);
}
#resultBox table {
  width: 70%;
}

#resultBox tr {
  width: 100%;
}
#resultBox th {
  width: 65%;
  text-align:end;
}
#resultBox td {
  width: 35%;
  text-align: end;
}
#evaluate {
  font-family: "Knewave", system-ui;
  font-size: calc(var(--canvas-height) / 490 * 48);
}
#evaluateCommentContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 360px;
}
#evaluateCommentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 74%;
  height: 80%;
  background-image: url(images/fukidashi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  white-space: pre-wrap;
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;

}
#evaluateComment {
  padding: 0 12% 0 10%;
  max-width: 78%;
}
#resultSsrbtn {
  flex-basis: 24%;
}

/* score container */
#scoreContainer {
  font-size:  calc(var(--canvas-height) / 490 * 24);
  width: calc(100vw - var(--canvas-width) - 140px);
  height: calc(var(--canvas-height) - 8%);
  padding: 2% 1%;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 0.9);
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-left: 1%;
  position: relative;
}

#timerContainer {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timer {
  font-size: calc(var(--canvas-height) / 490 * 32);
  letter-spacing: 5px;
  border-radius: 10px;
  height: calc(var(--canvas-height) / 490 * 100);
  text-align: center;
}

#scoreBox {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

#scoreTitle {
  display: inline-block;
  width: 40%;
}

#score {
  display: inline-block;
  text-align: right;
  font-size: calc(var(--canvas-height) / 490 * 20);
  letter-spacing: 2px;
  width: 40%
}

#plusScore {
  position: absolute;
  top: calc(var(--canvas-height) / 490 * 30);
  right: 10%;
  color: rgb(30,30,30);
  font-size: calc(var(--canvas-height) / 490 * 16);
}

#chainAndCommentAndDeleted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#chainAndComment {
  flex-basis: 60%;
}

#chain {
  font-size: calc(var(--canvas-height) / 490 * 20);
  letter-spacing: 5px;
  border-radius: 10px;
  width: 100%;
  height: calc(var(--canvas-height) / 490 * 50);
  text-align: center;
  margin-bottom: 10%;
}
#chain span {
  font-size: calc(var(--canvas-height) / 490 * 40);
}

#comment {
  font-size: calc(var(--canvas-height) / 490 * 20);
  letter-spacing: 5px;
  border-radius: 10px;
  width: 100%;
  height: calc(var(--canvas-height) / 490 * 50);
  text-align: center;
}

#deletedSsrb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

#deletedSsrbImg img {
  width: calc(var(--main-container-width) / 1960 * 100);
}

#btn-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.button {
  font-family: "Knewave", system-ui;
  width: calc(var(--canvas-width) / 1960 * 300);
  height: calc(var(--canvas-width) / 1960 * 100);
  border-radius: calc(var(--canvas-width) / 1960 * 30);
  background-color: rgb(220,120,120);
  border: 2px solid rgb(240,180,180);
  color: #fff;
  font-size: calc(var(--canvas-height) / 490 * 18);
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(150,100,100);
  border: 2px solid rgb(180,120,120);
  color: #ccc;
}

.music-btn {
  width: calc(var(--canvas-width) / 1960 * 100);
  height: calc(var(--canvas-width) / 1960 * 100);
  border-radius: 10px;
  background-color: rgb(220,120,120);
  border: 2px solid rgb(240,180,180);
  padding: 2px 0;
}

.music-btn img {
  width: calc(var(--canvas-width) / 1960 * 80);
  height: calc(var(--canvas-width) / 1960 * 80);
  display: block;
}

#musicOffButton {
  background-color: rgb(120, 120, 120);
  border: 2px solid rgb(150,150,150);
}

.visibleCountDown {
  font-family: "Knewave", system-ui;
  color:white;
  font-size:72px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0, rgba(0,0,0,0.7), rgba(0, 0, 0, 1), rgba(0,0,0,0.7));
}

.hidden {
  display: none;
}

#ssrbtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#ssrbtn-serif {
  width: 60%;
}


#explosions {
  position: absolute;
  top: var(--container-top);
  left: var(--left-container-left);
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.anime_text {
  animation-name: slideText;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.gaming{
  font-size: 36px;
  color: transparent;             /*文字を透明にする*/
  background-clip: text;          /*背景を文字で切り抜く*/
  background-image: linear-gradient(45deg,
  red,
  orange,
  yellow,
  green,
  aqua,
  blue,
  purple);
  background-size: 1200%;
  animation: 2s linear 0s infinite alternate slide;    /* slideアニメーションを4秒で往復の線形移動を無限回行う */
}

.golden{
  font-size: 36px;
  color: transparent;             /*文字を透明にする*/
  background-clip: text;          /*背景を文字で切り抜く*/
  background-image: linear-gradient(45deg,
  #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  background-size: 1200%;
  animation: 2s linear 0s infinite alternate slide;    /* slideアニメーションを4秒で往復の線形移動を無限回行う */
}

@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }    /* 右から左へ移動するアニメーション */
}

@keyframes slideText {
  from {opacity: 0; transform: translateY(50px);}
  to {opacity: 1; transform: translateY(0);}
}


/* How to play */
#htpWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.htpHidden {
  /* howToPlayウィンドウの初期設定 */
  display: none;
}

.htpContainer {
  width: 90%;
  height: 86%;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 10px;
  display: none;
  padding: 2%;
}

.htpContainer p {
  font-size: calc(var(--canvas-height) / 490 * 14);
}

.visibleHtpContent {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.htpTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.htpTitle h1 {
  font-size: calc(var(--canvas-height) / 490 * 24);
  width: 90%;
  margin: 0;
  padding: 5px 10px;
  border-left: 10px solid rgb(0,200,200);
  border-bottom: 1px solid rgb(0,200,200);
}

#closeHtpButton {
  width: calc(var(--canvas-width) / 1960 * 100);
  height: calc(var(--canvas-width) / 1960 * 100);
  font-size: calc(var(--canvas-height) / 490 * 20);
}

.visibleHtp {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slideHtp;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

.hiddenHtp {
  /* howToPlayウィンドウを閉じた後の状態 */
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slideReverseHtp;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

@keyframes slideHtp {
  0% {left: 100%;}
  100% {left: 0}
}

@keyframes slideReverseHtp {
  0% {left: 0;}
  100% {left: 100%; display: none;}
}

.htpContent {
  width: 100%;
  height: 100%;
}

.htpContent h3 {
  font-size: calc(var(--canvas-height) / 490 * 20);
  margin-top: 20px;
  margin-bottom: 10px;
}

.htpTableWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.htpChainTableWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.htpChainTableWrapper h3 {
  margin-left: 10px;
}

.htpChainTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: calc(var(--canvas-height) / 490 * 16);
}

.htpChainTableWrapper table,
.htpChainTableWrapper tr,
.htpChainTableWrapper th,
.htpChainTableWrapper td {
  border: 1px solid black;
  border-collapse: collapse;
}

.htpChainTableWrapper table {
  width: 50%;
}

.htpChainTableWrapper th {
  width:100px;
}

.htpChainTableWrapper td {
  text-align: right;
}

tr td:first-child {
  text-align: center;
}

.htpScoreTableWrapper {
  width:50%;
}

.htpScoreTableWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.htpScoreTableWrapper table,
.htpScoreTableWrapper tr,
.htpScoreTableWrapper th,
.htpScoreTableWrapper td {
  border: 1px solid black;
  border-collapse: collapse;
}

.htpScoreTableWrapper small {
  font-size: calc(var(--canvas-height) / 490 * 12);
  width: 96%;
  margin-top: 5px;
  margin-left: 4%;
}

.htpScoreTable {
  width: 96%;
  margin-left: 4%;
  font-size: calc(var(--canvas-height) / 490 * 16);
}

.htpScoreTable table {
  width: 100%;
}

.htpFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

#noWorkingWindow {
  background-color: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#noWorkingWindow img {
  width: 40vw;
}

.to_mbl {
  font-size: 16px !important;
  width: 200px !important;
  height: 40px !important;
}

#countDown {
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 960px) {
  #scoreContainer {
    width: calc(100vw - var(--canvas-width) - 120px);
  }
}
@media screen and (max-width: 768px) {
  #mainContainer {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #noWorkingWindow {
    display: none;
  }
}
